<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>evaluate</title>

    <link rel="stylesheet" href="../static/css/form.css">
    <link rel="stylesheet" href="../static/css/table.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.css">
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/evaluate.js"></script>

<!--<link rel="stylesheet" href="../static/css/standard.css">-->

</head>
<body>

<!-- 未实现，暂隐藏 -->
<!--<div class="waiting_img"><i class="fa fa-spinner fa-pulse fa-5x"></i></div>-->

<!--<div class="table_nav">-->
<!--    <div class="table_nav_left">-->
<!--        <ul class="table_nav_ul">-->
<!--            <li id="li_form_add_evaluate"><i class="fa fa-plus-square fa-lg"></i><a>添加</a></li>-->
<!--            <li id="li_form_import_work_order"><i class="fa fa-clipboard fa-lg"></i><a>导入</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div class="table_nav_right">-->
<!--        <input type="text" class="table_nav_input" placeholder="搜索">-->
<!--        <ul class="table_nav_ul">-->
<!--            <li><i class="fa fa-print fa-lg"></i><a></a></li>-->
<!--            <li><i class="fa fa-exclamation-circle fa-lg"></i><a></a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->
<!--endregion-->

<table class="table">
    <thead id="thead">
    <tr>
        <th>#</th>
        <th>设备编号</th>
        <th>评价人员编号</th>
        <th>检查项目编号</th>
        <th>检查等级</th>
        <th>评估模型编号</th>
        <th>评价日期</th>
        <th>评价结果</th>
        <th>备注</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>1</td>
        <td>10001</td>
        <td>10001</td>
        <td>SdA1</td>
        <td>A</td>
        <td>101</td>
        <td>2020-12-12</td>
        <td>Y</td>
        <td>无</td>
        <td><a class='button_change'>修改</a><a class='button_delete'>删除</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>10002</td>
        <td>10001</td>
        <td>SdA2</td>
        <td>A</td>
        <td>102</td>
        <td>2020-12-12</td>
        <td>Y</td>
        <td>无</td>
        <td><a class='button_change'>修改</a><a class='button_delete'>删除</a></td>
    </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>

<div class="form" id="form_evaluate">
    <div class="form_title">
        <span>添加评价结果:</span>
    </div>
    <div class="form_group">
        <label for="evaluate_eId">设备编号</label>
        <input type="text" id="evaluate_eId">
    </div>
    <div class="form_group">
        <label for="evaluate_wId">评价人员编号</label>
        <input type="text" id="evaluate_wId">
    </div>
    <div class="form_group">
        <label for="evaluate_gbId">检查项目编号</label>
        <input type="text" id="evaluate_gbId">
    </div>
    <div class="form_group">
        <label for="evaluate_grade">检查等级</label>
        <input type="text" id="evaluate_grade">
    </div>
    <div class="form_group">
        <label for="evaluate_mId">评估模型编号</label>
        <input type="text" id="evaluate_mId">
    </div>
    <div class="form_group">
        <label for="evaluate_date">评价日期</label>
        <input type="text" id="evaluate_date">
    </div>
    <div class="form_group">
        <label for="evaluate_result">评价结果</label>
        <input type="text" id="evaluate_result">
    </div>
    <div class="form_group">
        <label for="evaluate_comment">备注</label>
        <input type="text" id="evaluate_comment">
    </div>
    <div class="button_group">
        <input type="button" value="更改" class="button_bottom_change">
        <input type="button" value="添加" class="button_bottom_add">
        <input type="button" value="取消" class="button_bottom_cancel">
    </div>
</div>



</body>
</html>